@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

/* Cor da parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #2b1b1b; /* Cor de fundo da track da barra de rolagem */
}

/* Cor da barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background-color: #e69f00; /* Cor do thumb (parte que desliza) */
  border-radius: 5px; /* Arredondamento */
}

/* Cor ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background-color: #ffb84d; /* Um laranja mais claro ao passar o mouse */
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    height: 80vh;
}

header nav{

    flex-direction: column;
    justify-content: space-between !important;
    min-height: 78vh;
}

header nav div a h1 {
    background: url(../img/logo-café-divíno3.svg) no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -5000px;
}

header h2 {
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 600px;
}

header h3 {
    font-size: 22px;
    color: #e69f00;
    border-bottom: 3px solid #e69d0057;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 400;
}

.texto-banner article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-banner article div{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    min-width: 170px;
  }

  .texto-banner article div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 3px solid #e69d0057;
  }

  .texto-banner article div a:hover{
    color: #e08d14;
  }

header .nav-item a {
    font-size: 20px;
}

header .nav-item a:hover {
    color: #e69f00;
}


.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    /* tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property:transform;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px 0 20px;
    font-weight: 300;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:5px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }


  header nav button{
    background: none;
    border: none !important;
  }

  header nav button i{
    color: #e69f00;
    background: none;
    font-size: 30px;
  }

  /* filtros */

.filter{
  background: #2b1b1b;
}

.filter .site{
  padding: 20px;
}

  .filter-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filter-button {
    background-color: transparent; 
    border: 2px solid #e69f00;
    color: #ffff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
    background-color: #e69f00; /* Fundo laranja ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */
}

.active {
    background-color: #e69f00; /* Fundo laranja para botão ativo */
    color: #ffffff; /* Texto branco para botão ativo */
}


/* cardapio */

  .products{
    margin: 50px 0;
  }
  .menu-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .menu-section h2 {
    font-size: 24px;
    color: #2b1b1b;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #e69f00;
    font-weight: 400;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e69f00;
  }
  
  .menu-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  .menu-info{
    width: 85%;
  }
  
  .menu-info h3 {
    font-size: 18px;
    color: #2b1b1b;
  }
  
  .menu-info p {
    font-size: 14px;
    color: #2b1b1b;
  }
  
  .price {
    font-size: 16px;
    color: #e69f00;
    font-weight: 600;
    width: 5%;
  }
  
  .menu-item:hover {
    background-color: #f7f7f7;
  }
  
  .info-box {
    background-color: #f7f7f7;
    border-left: 4px solid #e69f00; /* Laranja para o destaque na lateral */
    padding: 15px;
    text-align: center;
    color: #2b1b1b; /* Marrom para o texto */
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
    width: 800px;
    border-radius: 0 10px 10px 0;
  }

  .info-box p {
    margin: 0;
  }

  .info-box .icon {
    color: #e69f00; /* Ícone em laranja */
    font-size: 20px;
    margin-right: 10px;
  }









/* voltar pro topo */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #e69f00 !important;
    border: 1px solid #2b1b1b;
  }

  #btn-back-to-top:hover{
    opacity: 0.8;
  }




/* Rodapé */

footer {
    background-color: #2b1b1b;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    border-radius: 50%; /* Logo redonda */
    width: 100px; /* Ajuste conforme a sua logo */
    height: 100px; /* Ajuste conforme a sua logo */
}

.footer-logo p {
    max-width: 250px;
    color: #fff;
    margin-top: 10px;
}

.footer-info, .footer-links, .footer-hours {
    margin-top: 20px;
}

.footer-info h4, .footer-links h4, .footer-hours h4 {
    color: #e69f00;
}

.footer-info p, .footer-links ul li, .footer-hours p {
    margin: 10px 0;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb84d;
}

.rodape{
    max-width: 1500px;
    margin: 0 auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #e69f00;
    padding-top: 20px;
    color: #fff;
}

.footer-bottom p {
    font-size: 14px;
}


@media screen and (max-width: 1024px) {

    header h2 {
        font-size: 36px;
        width: 100%;
        padding: 0 20px;
    }

    header h3 {
        font-size: 28px;
    }

    header .nav-item a {
        font-size: 18px;
    }

    header nav div a h1 {
        width: 80px;
        height: 80px;
    }

    
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {

  .filter-container {
    flex-direction: column;
  }
  
  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .menu-item {
    text-align: center;
  }

    .story-content {
        flex-direction: column;
    }

    .story-text, .story-image {
        max-width: 100%;
    }

    .story-text h2 {
        font-size: 28px;
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-text, .menu-images {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-links, .footer-hours {
        margin-top: 40px;
    }
}


@media screen and (max-width: 576px) {
    header h2 {
        font-size: 22px;
        padding: 0 10px;
    }

    header h3 {
        font-size: 18px;
    }

    header .nav-item a {
        font-size: 14px;
    }

    header nav div a h1 {
        width: 60px;
        height: 60px;
    }

    .fa.icone {
        font-size: 30px;
    }
}