@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    height: 80vh;
}

header nav{

    flex-direction: column;
    justify-content: space-between !important;
    min-height: 78vh;
}

header nav div a h1 {
    background: url(../img/logo-café-divíno3.svg) no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -5000px;
}

header h2 {
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 600px;
}

header h3 {
    font-size: 22px;
    color: #e69f00;
    border-bottom: 3px solid #e69d0057;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 400;
}

.texto-banner article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-banner article div{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    min-width: 170px;
  }

  .texto-banner article div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 3px solid #e69d0057;
  }

  .texto-banner article div a:hover{
    color: #e08d14;
  }

header .nav-item a {
    font-size: 20px;
}

header .nav-item a:hover {
    color: #e69f00;
}


.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    /* tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property:transform;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px 0 20px;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:5px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }


  header nav button{
    background: none;
    border: none !important;
  }

  header nav button i{
    color: #e69f00;
    background: none;
    font-size: 30px;
  }



/* Seção de Contato Inicial */
.about-info {
    position: relative; 
    background-color: #ffff; 
    padding: 135px 0 50px 0;
    text-align: center;
}

.about-info::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 100px;
    top: 20px;
    left: 50%;
    margin-left: 1px;
    background: #e69f00;
}

.about-info h2 {
    color: #e69f00; 
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 5px;
}

.about-info h3 {
    color: #2b1b1b; 
    font-size: 36px;
    margin-bottom: 30px;
    margin: 0px 0px 30px 0px;
    line-height: 12px;
}

.about-text p{
    text-align: left;
    font-size: 17px;
}

.about-text h6{
    text-align: left;
    font-size: 19px;
}

.about-text i{
    color: #e69f00;
}

.our-story {
    color: #ffff; 
    padding: 50px 0;
    position: relative;
    background: url(../img/fundosobre.jpeg) no-repeat;
    background-size: 55%;
    margin-top: 50px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #e69f00;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.story-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.story-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Borda arredondada na imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.story-text {
    background-color: #2b1b1bde;
    max-width: 65%;
    padding: 40px;
}

.story-text h2 {
    font-family: 'poppins', sans-serif; 
    font-size: 27px;
    margin-bottom: 20px;
    color: #e69f00; 
    position: relative;
    margin: 0;
}

.story-text h3{
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}



.story-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}


.menu-section {
    color: #2b1b1b;
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    flex: 1;
    max-width: 45%;
    text-align: right;
}

.menu-text h2 {
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #e69f00;
    position: relative;
}

.menu-text h3{
    font-family: 'poppins', sans-serif;
    font-size: 35px;
    color: #2b1b1b;
}

.menu-text h2 span {
    font-size: 24px;
    color: #e69f00;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}

.menu-text p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-menu {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #e69f00;
    color: #2b1b1b;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-menu:hover {
    background-color: #ffb84d;
    color: #fff;
}

.menu-images {
    flex: 1;
    max-width: 45%;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img-grid img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .menu-content {
        flex-direction: column;
    }

    .menu-text, .menu-images {
        max-width: 100%;
        margin-bottom: 20px;
    }
}




#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #e69f00 !important;
    border: none !important;
  }

  #btn-back-to-top:hover{
    opacity: 0.8;
  }




/* Rodapé */

footer {
    background-color: #2b1b1b;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    border-radius: 50%; /* Logo redonda */
    width: 100px; /* Ajuste conforme a sua logo */
    height: 100px; /* Ajuste conforme a sua logo */
}

.footer-logo p {
    max-width: 250px;
    color: #fff;
    margin-top: 10px;
}

.footer-info, .footer-links, .footer-hours {
    margin-top: 20px;
}

.footer-info h4, .footer-links h4, .footer-hours h4 {
    color: #e69f00;
}

.footer-info p, .footer-links ul li, .footer-hours p {
    margin: 10px 0;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb84d;
}

.rodape{
    max-width: 1500px;
    margin: 0 auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #e69f00;
    padding-top: 20px;
    color: #fff;
}

.footer-bottom p {
    font-size: 14px;
}


@media screen and (max-width: 1024px) {

    header h2 {
        font-size: 36px;
        width: 100%;
        padding: 0 20px;
    }

    header h3 {
        font-size: 28px;
    }

    header .nav-item a {
        font-size: 18px;
    }

    header nav div a h1 {
        width: 80px;
        height: 80px;
    }

    
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {

    .story-content {
        flex-direction: column;
    }

    .story-text, .story-image {
        max-width: 100%;
    }

    .story-text h2 {
        font-size: 28px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-links, .footer-hours {
        margin-top: 40px;
    }
}


@media screen and (max-width: 576px) {
    header h2 {
        font-size: 22px;
        padding: 0 10px;
    }

    header h3 {
        font-size: 18px;
    }

    header .nav-item a {
        font-size: 14px;
    }

    header nav div a h1 {
        width: 60px;
        height: 60px;
    }

    .fa.icone {
        font-size: 30px;
    }
}