@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

/* Cor da parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #2b1b1b; /* Cor de fundo da track da barra de rolagem */
}

/* Cor da barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background-color: #e69f00; /* Cor do thumb (parte que desliza) */
    border-radius: 5px; /* Arredondamento */
}

/* Cor ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffb84d; /* Um laranja mais claro ao passar o mouse */
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    height: 80vh;
}

header nav{

    flex-direction: column;
    justify-content: space-between !important;
    min-height: 78vh;
}

header nav div a h1 {
    background: url(../img/logo-café-divíno3.svg) no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -5000px;
}

header h2 {
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 600px;
}

header h3 {
    font-size: 22px;
    color: #e69f00;
    border-bottom: 3px solid #e69d0057;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 400;
}

.texto-banner article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-banner article div{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    min-width: 170px;
  }

  .texto-banner article div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 3px solid #e69d0057;
  }

  .texto-banner article div a:hover{
    color: #e08d14;
  }

header .nav-item a i {
    font-size: 20px;
}

header .nav-item a i:hover {
    color: #e69f00;
}


.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    /* tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property:transform;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px 0 20px;
    font-weight: 300;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:5px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }


  header nav button{
    background: none;
    border: none !important;
  }

  header nav button i{
    color: #e69f00;
    background: none;
    font-size: 30px;
  }



/* Seção de Contato Inicial */
.about-info {
    position: relative; 
    background-color: #ffff; 
    padding: 135px 0 50px 0;
    text-align: center;
}

.about-info::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 100px;
    top: 20px;
    left: 50%;
    margin-left: 1px;
    background: #e69f00;
}

.about-info h2 {
    color: #e69f00; 
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 5px;
}

.about-info h3 {
    color: #2b1b1b; 
    font-size: 36px;
    margin-bottom: 30px;
    margin: 0px 0px 30px 0px;
    line-height: 12px;
}

.about-text p{
    text-align: justify;
    font-size: 18px;
}

.about-text h6{
    text-align: left;
    font-size: 19px;
}

.about-text i{
    color: #e69f00;
}

.about-text>div:nth-child(1){
    padding: 20px;
}
.about-text>div:nth-child(3){
    padding: 20px;
}

/* nossa historia */
 /* .our-story {
    color: #ffff; 
    padding: 50px 0;
    position: relative;
    background: url(../img/fundosobre.jpeg) no-repeat;
    background-size: 55%;
    margin-top: 50px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #e69f00;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.story-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.story-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.story-text {
    background-color: #2b1b1bde;
    max-width: 65%;
    padding: 40px;
}

.story-text h2 {
    font-family: 'poppins', sans-serif; 
    font-size: 27px;
    margin-bottom: 20px;
    color: #e69f00; 
    position: relative;
    margin: 0;
}

.story-text h3{
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}



.story-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}  */

.our-story {
    display: flex;
    width: 100%;
    background-color: #e69f00; /* Cor de fundo */
}

.image-story {
    width: 50%;
    background: url('../img/fundosobre.jpeg') no-repeat center center;
    background-size: cover;
    padding: 300px 0;
}

.story-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
}

.story-text {
    background-color: #2b1b1bde;
    width:120%;
    padding: 40px;
    margin-left: -450px;
}

.story-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    color: #e69f00;
}

.story-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.story-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
}

/* dpoimentos */

.depoimentos{
    position: relative;
    margin-bottom: 50px;
    background: #2b1b1b;
    padding: 135px 0 50px 0;
}

.depoimentos .site{
    padding: 20px;
}

.depoimentos::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 100px;
    top: 35px;
    left: 50%;
    margin-left: 1px;
    background: #e69f00;
}

.depoimentos h2 {
    color: #e69f00; 
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 5px;
    text-align: center;
}

.depoimentos h3 {
    color: #ffff; 
    font-size: 25px;
    margin-bottom: 30px;
    margin: 0px 0px 30px 0px;
    line-height: 12px;
    text-align: center;
}

.depoimentos .site .row{
    display: flex;
    justify-content: center;
}

.testimonial{
    margin: 0 70px 20px 0;
    text-align: center;
    position: relative;
}
.testimonial:before{
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #e69f00;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: -52px;
}
.testimonial .description{
    padding: 25px;
    margin-bottom: 30px;
    border: 1px solid #e08d14;
    font-size: 16px;
    color: #ffff;
    line-height: 30px;
    position: relative;
}
.testimonial .description:before {
    content: "";
    border-top: 8px solid #e69f00; /* Triângulo laranja */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Certifique-se que o :before fique acima do :after */
}

.testimonial .description:after {
    content: "";
    width: 19px;
    height: 19px; /* Ajustei o tamanho para ser quadrado, mais consistente */
    border: 1px solid #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    position: absolute;
    bottom: -13px; /* Ajuste fino para alinhar com o :before */
    left: 50%;
    transform: translateX(-50%) rotate(45deg); /* Ajuste de rotação e centralização */
    background-color: transparent; /* Para preencher o triângulo com branco */
    z-index: 0; /* Certifique-se de que o :after fique atrás do :before */
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #e69f00;
    margin-bottom: 15px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #e69f00;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #736d6d;
    text-transform: capitalize;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 35px;
    height: 15px;
    background: #553e4e;
    border-radius: 0;
    opacity: 0.8;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e69f00;
}


/* menu action */


.menu-section {
    color: #2b1b1b;
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    flex: 1;
    max-width: 45%;
    text-align: right;
}

.menu-text h2 {
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #e69f00;
    position: relative;
}

.menu-text h3{
    font-family: 'poppins', sans-serif;
    font-size: 35px;
    color: #2b1b1b;
}

.menu-text h2 span {
    font-size: 24px;
    color: #e69f00;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}

.menu-text p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-menu {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #e69f00;
    color: #2b1b1b;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-menu:hover {
    background-color: #e69f00;
    color: #fff;
}

.menu-images {
    flex: 1;
    max-width: 50%;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 30px;
    width: 100%;
}

.img-grid div{
   width: 100%;
}

.img-grid .img-menu {
    /* width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; */
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
}

.img-grid div:nth-child(2), 
.img-grid div:nth-child(4){
    margin-top: 1.5rem;
}

/* status */

.stats-section {
    background-image: url('../img/banner-graos.jpeg'); /* Insira o caminho da imagem aqui */
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 120px 0;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container {
    position: relative;
    width: 80px;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .icon-background {
    border: 1px solid #e08d14;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.5s ease, background-color 0.5s ease;
  }
  
  .icon-container i {
    font-size: 40px;
    color: transparent; /* Começa transparente */
    -webkit-text-stroke: 1px #e08d14; /* Contorno do ícone */
    z-index: 1; /* Ícone sempre acima */
    position: relative;
    transition: color 0.5s ease, -webkit-text-stroke 0.5s ease; /* Transição de cor */
  }
  
  
  .stat-item:hover .icon-background {
    transform: rotate(140deg); /* O fundo gira */
    background-color: #e08d14; /* Cor do fundo ao passar o mouse */
  }

  .stat-item:hover .icon-container i {
    -webkit-text-stroke: 1px #fff; /* Contorno do ícone */
  }
  
  .stat-item h3 {
    font-size: 36px;
    color: #fff;
    margin-top: 15px;
  }
  
  .stat-item p {
    font-size: 16px;
    color: #fff;
  }
  




/* voltar pro topo */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #e69f00 !important;
    border: 1px solid #2b1b1b;
  }

  #btn-back-to-top:hover{
    opacity: 0.8;
  }




/* Rodapé */

footer {
    background-color: #2b1b1b;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    border-radius: 50%; /* Logo redonda */
    width: 100px; /* Ajuste conforme a sua logo */
    height: 100px; /* Ajuste conforme a sua logo */
}

.footer-logo p {
    max-width: 250px;
    color: #fff;
    margin-top: 10px;
}

.footer-info, .footer-links, .footer-hours {
    margin-top: 20px;
}

.footer-info h4, .footer-links h4, .footer-hours h4 {
    color: #e69f00;
}

.footer-info p, .footer-links ul li, .footer-hours p {
    margin: 10px 0;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb84d;
}

.rodape{
    max-width: 1500px;
    margin: 0 auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #e69f00;
    padding-top: 20px;
    color: #fff;
}

.footer-bottom p {
    font-size: 14px;
}


@media screen and (max-width: 1024px) {

    header h2 {
        font-size: 36px;
        width: 100%;
        padding: 0 20px;
    }

    header h3 {
        font-size: 28px;
    }

    header .nav-item a {
        font-size: 18px;
    }

    header nav div a h1 {
        width: 80px;
        height: 80px;
    }

    .our-story {
        flex-direction: column;
    }

    .image-story {
        width: 100%;
        height: 300px;
        display: block;
    }

    .story-content{
        width: 100%;
    }


    .story-text{
        width: 90%;
        margin-left: 0px;
    }

    .story-text h2 {
        font-size: 28px;
    }


    
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {

    .about-text h6{
        text-align: center;
    }

    
    
    .menu-content {
        flex-direction: column;
    }

    .menu-text{
        text-align: center;
    }

    .menu-text, .menu-images {
        min-width: 100%;
        margin-bottom: 20px;
    }

   

    .depoimentos h3{
        line-height: 25px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-links, .footer-hours {
        margin-top: 40px;
    }
}


@media screen and (max-width: 576px) {
    header h2 {
        font-size: 22px;
        padding: 0 10px;
    }

    header h3 {
        font-size: 18px;
    }

    header .nav-item a {
        font-size: 14px;
    }

    header nav div a h1 {
        width: 60px;
        height: 60px;
    }

    .fa.icone {
        font-size: 30px;
    }

    .img-grid{
        display: flex;
        flex-direction: column;
    }

    .img-grid img{
        margin-bottom: 20px;
    }

    .img-grid img:nth-child(2), .img-grid img:nth-child(4) {
        margin-top: 0;
    }

   
    .menu-images{
        width: 90%;
    }
}

@media only screen and (max-width: 479px){
    .testimonial .description{ padding: 10px; }
}