@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

/* Cor da parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #2b1b1b; /* Cor de fundo da track da barra de rolagem */
}

/* Cor da barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background-color: #e69f00; /* Cor do thumb (parte que desliza) */
    border-radius: 5px; /* Arredondamento */
}

/* Cor ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffb84d; /* Um laranja mais claro ao passar o mouse */
}


.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
} 

h1, h2, h3, h5 {
    font-weight: bold;
    color: #2b1b1b;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    height: 100vh;
}

header nav{

    flex-direction: column;
    justify-content: space-between !important;
    min-height: 98vh;
}

header nav div a h1 {
    background: url(../img/logo-café-divíno3.svg) no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -5000px;
}

header h2 {
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 600px;
}

header h3 {
    font-size: 32px;
    color: #e69f00;
}

header .nav-item a {
    font-size: 20px;
}

header .nav-item a:hover {
    color: #e69f00;
}

.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    /* tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property:transform;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px 0 20px;
    font-weight: 300;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:5px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, #e69f00 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }

  header .texto-banner{
    /* position: absolute;
    top: 380px; */
  }

  header nav button{
    background: none;
    border: none !important;
  }

  header nav button i{
    color: #e69f00;
    background: none;
    font-size: 30px;
  }


  
.banner-seta {
    /* position: absolute;
    top: 850px; */
    padding: 10px 0;
}

.banner-seta div {
    display: flex;
    justify-content: center;
}

.fa.icone {
    font-size: 46px;
    color: #e69f00;
    opacity: 1;
    animation: anima 1050ms ease-in infinite alternate;
}

@keyframes anima {
    to {
        opacity: 0;
        transform: scale(0.85) translateY(20px);
    }
}



  
  
  


/* Seção de Informações Adicionais */
section {
    margin: 50px 0;
}

section h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

section p {
    font-size: 1rem;
    color: #2b1b1b;
}

section .btn-dark {
    background-color: transparent;
    border: 1px solid #e69f00;
    color: #2b1b1b;
    font-weight: 400;
    align-self: self-start;
    border-radius: 0;
}

section .btn-dark:hover {
    background-color: #e69f00;
    color: #fff;
    border: none;
}


.card-title {
    color: #e69f00;
}

#destaques h3{
    color: #e69f00;
}

/* efeito zoom imagem destaques */
#destaques .card {
    overflow: hidden; /* Esconde o que ultrapassar a div do card */
}

#destaques .card-img-top {
    transition: transform 0.3s ease; /* Suaviza a animação */
}

#destaques .card-img-top:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.destaque-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%; 
}

.destaque-card img {
    object-fit: cover;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.especial-card .card-body {
    background: url('../img/destaques.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
}


.btn-warning {
    background-color: transparent;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 0;
}

.btn-warning:hover {
    background-color: #e69f00;
    color: #fff;
    transform: scale(1.1);
}

.action{
    /* background: #e69f00; */
    background: url(../img/banner.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00000063;
    background-blend-mode: multiply;
    padding-top: 125px;
    padding-bottom: 125px;
}

.action h2{
    color: #e69f00;
}

.action p{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}

.action .btn-light{
    background-color: #e69f00;
    border: none;
    color: #ffff;
    font-weight: 400;
    border-radius: 0;
}

.action .btn-light:hover{
    background-color: #ffff;
    color: #e69f00;
}


/* sobre */


.sobre {
    background-color: #2b1b1b;
    color: #ffffff;
    padding: 50px 0;
}

.sobre .site {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.sobre-texto {
    width: 50%;
}

.sobre-texto h2 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.sobre-texto h3 {
    color: #e69f00;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre-texto p {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.6;
    max-width: 90%;
    margin-bottom: 30px;
    font-weight: 300;
}

.sobre-botao {
    background-color: #e69f00 ;
    color: #2b1b1b;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.sobre-botao:hover {
    background-color: #ffffff;
    color: #e69f00;
}

.sobre-destaque {
    position: absolute;
    top: 7%;
    left: 65%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #2b1b1b;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.sobre-imagem {
    width: 35%;
    position: relative;
    text-align: right;
}

.sobre-imagem img {
    width: 100%;
}


/* Seção de Destaques */

#destaques .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
}

#destaques .card-body{
    background-color: #2b1b1b;
    z-index: 1;
}

#destaques .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#destaques .card-text {
    color: #fff;
}

#destaques p{
    color: #fff;
}

#destaques .btn-outline-dark {
    border: 2px solid #555555;
    color: #555555;
    width: fit-content;
}

#destaques .btn-outline-dark:hover {
    background-color: #555555;
    color: #ffffff;
}


/* Produtos Populares */

.popular-products{
    position: relative;
    padding: 130px 0 20px 0 !important;
}

.popular-products::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 100px;
    top: 20px;
    left: 50%;
    margin-left: 1px;
    background: #e69f00;
}


.popular-products .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e69f00;
    line-height: 25px;
    margin: 0;
}



.popular-products .section-subtitle {
    font-size: 1.75rem;
    font-weight: 500;
    color: #2b1b1b;
}

.popular-products .section-description {
    font-size: 1rem;
    color: #2b1b1b;
    margin-bottom: 30px;
}

.popular-products .card{
    border: none;
    display: flex;
    align-items: center;
}

.card-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2b1b1b; /* Cor de destaque */
    margin-top: 10px;
}

.popular-products .card img {
    width: 255px;
    height: 200px;
    object-fit: cover;
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #e69f00 !important;
    border: none !important;
    z-index: 2;
  }

  #btn-back-to-top:hover{
    opacity: 0.8;
  }


/* Footer */


footer {
    background-color: #2b1b1b;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    border-radius: 50%; /* Logo redonda */
    width: 100px; /* Ajuste conforme a sua logo */
    height: 100px; /* Ajuste conforme a sua logo */
}

.footer-logo p {
    max-width: 250px;
    color: #fff;
    margin-top: 10px;
}

.footer-info, .footer-links, .footer-hours {
    margin-top: 20px;
}

.footer-info h4, .footer-links h4, .footer-hours h4 {
    color: #e69f00;
}

.footer-info p, .footer-links ul li, .footer-hours p {
    margin: 10px 0;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #ffb84d;
}

.rodape{
    max-width: 1500px;
    margin: 0 auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #e69f00;
    padding-top: 20px;
    color: #fff;
}

.footer-bottom p {
    font-size: 14px;
}

@media screen and (max-width: 1024px) {

    header h2 {
        font-size: 36px;
        width: 100%;
        padding: 0 20px;
    }

    header h3 {
        font-size: 28px;
    }

    header .nav-item a {
        font-size: 18px;
    }

    header nav div a h1 {
        width: 80px;
        height: 80px;
    }

    .sobre .site {
        flex-direction: column;
        align-items: center;
    }

    .sobre-texto {
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    .sobre-imagem {
        width: 90%;
        text-align: center;
    }

    .sobre-imagem img{
        width: 50%;
    }

    /* .sobre-destaque {
        position: static;
        transform: none;
        margin-top: 20px;
    } */

    .sobre-texto h2 {
        font-size: 2em;
    }

    .sobre-texto h3 {
        font-size: 1.8em;
    }

    .sobre-texto p {
        font-size: 1em;
    }
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    
    .especial-card {
        min-height: 900px; 
    }

    #destaques .bg-light {
        min-height: 950px;
    }

    #destaques div{
        width: 100%;
        margin: 0 auto;
    }

    .sobre-texto h2 {
        font-size: 1.8em;
    }

    .sobre-texto h3 {
        font-size: 1.5em;
    }

    .sobre-texto p {
        font-size: 0.9em;
    }

    .sobre-botao {
        font-size: 0.9em;
        padding: 8px 20px;
    }

    .sobre-destaque {
        font-size: 1.2em;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-links, .footer-hours {
        margin-top: 40px;
    }
}


@media screen and (max-width: 576px) {
    header h2 {
        font-size: 22px;
        padding: 0 10px;
    }

    header h3 {
        font-size: 18px;
    }

    header .nav-item a {
        font-size: 14px;
    }

    header nav div a h1 {
        width: 60px;
        height: 60px;
    }

    .fa.icone {
        font-size: 30px;
    }
}

