body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.site{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
} 

h1, h2, h3, h5 {
    font-weight: bold;
    color: #2b1b1b;
}

.sobre a{
    background: #2b1b1b !important;
}

.sobre a:hover{
    opacity: 0.8;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/banner2.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    height: 100vh;
}

header nav div a h1{
    background: url(../img/logo-café-divíno2.svg) no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -5000px; 
}

header h2{
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 600px;
}

header h3{
    font-size: 32px;
    color: #ef6b37;
}

.banner-seta{
    padding: 10px 0;
}

.banner-seta div {
    display: flex;
    justify-content: center;
  }
  
  .fa.icone {
    font-size: 46px;
    color: #ef6b37;
    opacity: 1;
    animation: anima 1050ms ease-in infinite alternate;
  }
  @keyframes anima {
    to {
      opacity: 0;
      transform: scale(0.85) translateY(20px);
    }
  }



/* Seção de Informações Adicionais */
section {
    padding: 50px 0;
}

section h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

section p {
    font-size: 1rem;
    color: #555555;
}

section .btn-outline-dark {
    border: 2px solid #2b1b1b;
    color: #555555;
}

section .btn-outline-dark:hover {
    background-color: #2b1b1b;
    color: #ffffff;
}


.card-title {
    color: #ef6b37;
}

#destaques h3{
    color: #ef6b37;
}

.action{
    /* background: #ef6b37; */
    background: url(../img/banner.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00000063;
    background-blend-mode: multiply;
    padding-top: 125px;
    padding-bottom: 125px;
}

.action h2{
    color: #ef6b37;
}

.action p{
    color: #F2E8DF;
}


/* Seção de Destaques */

#destaques .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
}

#destaques .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#destaques .card-text {
    color: #555555;
}

#destaques .btn-outline-dark {
    border: 2px solid #555555;
    color: #555555;
    width: fit-content;
}

#destaques .btn-outline-dark:hover {
    background-color: #555555;
    color: #ffffff;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #ef6b37 !important;
    border: none !important;
  }

  #btn-back-to-top:hover{
    opacity: 0.8;
  }


/* Footer */
footer {
    background-color: #2b1b1b;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
    color: #ef6b37;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a:hover {
    color: #F15A24;
}

/* Redes Sociais */
footer .fa-lg {
    font-size: 1.5rem;
    color: #FFFFFF;
}

footer .fa-lg:hover {
    color: #F15A24;
}

/* Responsividade */
@media (max-width: 991px) {
    footer .text-md-start,
    footer .text-md-end {
        text-align: center !important;
    }
}

